<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <JorgeMurta_SimpleModule>
            <version>0.0.1</version>
        </JorgeMurta_SimpleModule>
    </modules>

    <global>
        <helpers>
            <jorgemurta_simplemodule>
                <class>JorgeMurta_SimpleModule_Helper</class>
            </jorgemurta_simplemodule>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <simplemodule after="Mage_Adminhtml">JorgeMurta_SimpleModule_Adminhtml</simplemodule>
                    </modules>
                </args>
            </adminhtml>

            <!-- <jorgemurta_logging>
                <use>admin</use>
                <args>
                    <module>JorgeMurta_SimpleModule</module>
                    <frontName>logging</frontName>
                </args>
            </jorgemurta_logging> -->
        </routers>


    </admin>
</config>
