<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <JorgeMurta_SimpleModule>
            <version>0.0.1</version>
        </JorgeMurta_SimpleModule>
    </modules>

    <global>
        <helpers>
            <jorgemurta_simplemodule>
                <class>JorgeMurta_SimpleModule_Helper</class>
            </jorgemurta_simplemodule>
        </helpers>
    </global>
</config>
